<header class="header">
    <nav class="menu-main">
        <ul class="menu menu-main">
            <li>
                <a 
                    routerLink="/home" 
                    routerLinkActive="active"
                >home</a>
            </li>
            <!-- Enlaces que requieren autenticacion para ser visualizados -->
            @if( userData ) {
                <li>
                    <a 
                        [routerLink]="['product', 'list' ]" 
                        routerLinkActive="active"
                    >products</a>
                </li>
                <li>
                    <a 
                        [routerLink]="['product', 'new' ]" 
                        routerLinkActive="active"
                    >product new</a>
                </li>
                <li>
                    <a 
                        [routerLink]="['/product/detail']" 
                        routerLinkActive="active"
                    >product detail</a>
                </li>
            }
             <!-- Enlaces que NO requieren autenticacion para ser visualizados -->
            @if( ! userData ) {
                <li>
                    <a 
                        [routerLink]="['/login']" 
                        routerLinkActive="active"
                    >login</a>
                </li>
                <li>
                    <a 
                        [routerLink]="['/register']" 
                        routerLinkActive="active"
                    >register</a>
                </li>
            }
            <!-- Enlaces que requieren autenticacion para ser visualizados -->
            @if( userData ) {
                <li>
                    <a 
                        (click)="logout()"
                    >logout</a>
                </li>
            }
            
        </ul>
    </nav>
     <!-- Despliega mensaje de saludo su el usuarui esta autenticado -->
    @if( userData ) {
        <span>Hola, {{ userData.name }}</span>
    }

    <!-- Este codigo solo esta temporalmente para probar que los datos del usuario autenticado son persistentes -->
     <div class="code">
        <pre>{{ userData | json }}</pre>
     </div>
</header>

